body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-weight: bolder;
}

textarea {
  margin: 10% 0;
  font-size: 1.5em;
  text-align: center;
  color: palevioletred;
  border: 2px solid papayawhip;
  width: 100%;
  height: 250px;
  font-family: monospace;
}

#preview{
  font-size: 1.25em;
  font-family: monospace;
}